/* Navbar */
nav {
    background-color: lightcyan;
}

/* home page main content */
#home-screen {
margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 700px;
}
p {
    font-size: medium;
}
.btn {
    color: white;
    background-color: mediumblue;
}


/* quiz */
#quiz {
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 700px;
}

#question {
    font-size: medium;
    font-weight: bold;
}

.choice {
    display: block;
    background-color: lightgoldenrodyellow;
    margin: auto;
}

/* high scores */
#high-scores {
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 700px;
}